<!DOCTYPE html>
<html>
<head>
    <title>Filtro de Usuário</title>
</head>
<body>
    <form action="/consulta" method="GET">
        <label for="nome">Dados:</label>
        <input type="text" id="nome" name="nome" placeholder="Digite um nome">
        <input type="text" id="email" name="email" placeholder="Digite um email">
        
        <button type="submit">Consultar</button>
      </form>
</body>
</html>